body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
}

.header{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-right: 90px;
    padding-left: 90px;
    padding-top: 30px;
}

ul{
    display: flex;
    gap: 15px; 
    list-style-type: none;
}

.topThird{
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px; 
    flex: 1; 
}

.topThird
.left{
    display: flex;
    flex-direction: column;
    width: 400px; 
    color: #E5E7EB;
}

.topThird
.left
a{
    margin-bottom: 15px;
}

.topThird
.left
strong{
    font-size: 48px;
}

.topThird
Button{
    width: 100px; 
    background-color: #3882F6;
    color: white;
    font-family: 'Roboto', arial;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    border: none;
}

.secondThird{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1; 
    padding: 30px; 
}

.secondThird
h3{
    font-size: 30px;
}

.images{
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
}

image{
    display: flex;
    margin: 30px;
}

.thirdThird{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 120px;
    flex: 1; 
}

.thirdThird
a{
    font-style: italic;
    font-size: 36px;
}

.thirdThird
h4{
    align-self: flex-end;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px; 
    flex: 1; 
    color:#E5E7EB;

}

.item{
    background-color: #3882F6;
    width: 900px; 
    padding: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.item
.text{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.item
strong{
    font-weight: bolder;
    font-size: larger;
}

.contact
Button{
    width: 100px; 
    background-color: #3882F6;
    color: white;
    font-family: 'Roboto', arial;
    border: #E5E7EB;
    border: solid;
    padding: 10px; 
    font-weight: bold;
    border-radius: 8px;
    display: block;
    width: 150px; 
}

.footer{
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px; 
}

.contact{
    display: flex;
}

