body{
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-right: 90px;
    padding-left: 90px;
}

ul{
    display: flex;
    gap: 15px; 
    list-style-type: none;
}

.topThird{
    background-color: #1F2937;
    color: white;
    display: flex;
    padding: 40px; 
    padding-right: 90px;
    padding-left: 90px;
    flex: 1; 
}

.topThird
.left{
    display: flex;
    flex-direction: column;
    width: 400px; 
    margin-right: 30px;
}

.topThird
.left
a{
    margin-bottom: 15px; ;
}

Button{
    width: 100px; 
    background-color: #3882F6;
    color: white;
    border-radius: 15px; ;
}
